# Print statement

In [1]:
print('Hello Madan Bhandari University')

Hello Madan Bhandari University

In [2]:
print("greetings from Madan Bhandari University")
print("Good Morning")

greetings from Madan Bhandari University
Good Morning

In [3]:
Print("Good Afternoon")

NameError: name 'Print' is not defined

In [4]:
print "Good Morning"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (501484024.py, line 1)

In [5]:
print("Good
Morning")

SyntaxError: unterminated string literal (detected at line 1) (2676733140.py, line 1)

In [6]:
"Good morning"

'Good morning'

In [7]:
"Good morning"
print("HI")

HI

In [8]:
print("""Good
Evening""")

Good
Evening

In [9]:
print("""MBUST intends to engage students in research development (R&D) related to real life problems of enterprises
MBUST alligns its academic programs and research with economic sector/sub-sectos/product with high potential for contribution of economic growth """)

MBUST intends to engage students in research development (R&D) related to real life problems of enterprises
MBUST alligns its academic programs and research with economic sector/sub-sectos/product with high potential for contribution of economic growth

In [10]:
print("""Good
Evening
from
Chitlang""")

Good
Evening
from
Chitlang

# Comments

In [11]:
# say hello to the students
print("Hi Friends")

Hi Friends

In [12]:
# say hello to the students
# print("Hi Students")

# Multi line comments

In [13]:
"""
Say Hi
To the Friends
"""

'\nSay Hi\nTo the Friends\n'

In [14]:
"""
Say Hi
To the Friends
"""
print('Hi Friends')

Hi Friends

In [ ]:
# Say Hi
# To the students

print('Hi Friends')

In [19]:
# more exceptional cases in print statements
bishwa=0
print("Hi my name is ",bishwa)

Hi my name is  0

In [20]:
print("Hi my name is \"Bishwa\" ")

Hi my name is "Bishwa"

In [21]:
print('Hi my name is "Bishwa" ')

Hi my name is "Bishwa"

In [22]:
print("Hi my name is 'Bishwa' ")

Hi my name is 'Bishwa'

In [23]:
print("""Hi my name is "Sunny" """)

Hi my name is "Sunny"

In [24]:
print("""Hi my name is "Bishwa"!""")

Hi my name is "Bishwa"!

### Example [Shift + Enter]

In [25]:
123 + 245 # Sum of 2 nos

368

In [26]:
123 * 245

30135

In [27]:
123 / 245

0.5020408163265306

In [28]:
123**2 # power of 123 raised to 2

15129

In [29]:
(-123)**2

15129

In [30]:
123%2 # modulo operator which gives you reminder

1

In [31]:
2%2

0

In [34]:
2%3

2

In [33]:
122%2

0

In [35]:
123 * 245
print("Result")

Result

In [37]:
123 * 245
"Result"

'Result'

In [38]:
print("123 * 245")
print("Result")

123 * 245
Result

# Variables in python
## Variables in python
### Variables in python
#### Variables in python
##### Variables in python
<h1>Variables in python</h1>

In [39]:
x = 10

In [40]:
print(x)

10

In [41]:
y = 20

In [42]:
print(y)

20

In [43]:
print(x + y)

30

In [44]:
print(x / y)

0.5

1. Variable names should start with alphabets

In [48]:
ten = 10
ten_number = 10
tenNumber = 10

2. Variable names should not contain any special characters like ^ % $ ! @ # ^ & * ( )

In [46]:
ten* = 10

SyntaxError: invalid syntax (2667552044.py, line 1)

In [49]:
ten%number = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1559910169.py, line 1)

In [50]:
ten = 10
ten_number = 10
ten%number = 10
tenNumber = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (234643379.py, line 3)

In [51]:
ten = 10
ten_number = 10
ten/number = 10
tenNumber = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3006776037.py, line 3)

3. Variable names can contain numbers but you can't start with numbers

In [52]:
ten10 = 10

In [53]:
10ten = 10

SyntaxError: invalid decimal literal (3011706180.py, line 1)

In [54]:
__num = 10 # hidden variable

4. Its not a strict rule that you should variable names with a Captial letter. But its recommended to use small letters for the variables

In [55]:
Ten = 10

In [56]:
ten number = 10

SyntaxError: invalid syntax (2262126045.py, line 1)

In [57]:
ten_number = 10

In [58]:
_ = 10 # dummy variable

# Fundamental data types

# integers

In [59]:
a = 7

In [60]:
type(a)

int

In [61]:
b = 77777
type(b)

int

## floats - numbers containing decimal numbers

In [62]:
pi = 3.14

In [63]:
type(pi)

float

In [64]:
pi = 22/7
pi

3.142857142857143

In [65]:
type(pi)

float

In [66]:
x = 2.0

type(x)

float

In [67]:
x = 2

type(x)

int

# Complex numbers

In [68]:
a = 2+3j
a

(2+3j)

In [69]:
type(a)

complex

In [70]:
a.real

2.0

In [71]:
a.imag

3.0

## Dynamic typing

```
int a = 22;
```

In [72]:
a = 22
type(a)
a = 22.2
type(a)

float

In [73]:
a = 22
print(type(a))
a = 22.2
print(type(a))
a = "Bishwa"
print(type(a))
a = 'Bishwa'
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
print(a)

In [74]:
a = 22
print(type(a))
a = 22.2
print(type(a))
a = "22.2"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

# Strong typing

In [75]:
"Day " + 1

TypeError: can only concatenate str (not "int") to str

In [76]:
22.2 + 1

23.2

In [77]:

"Day " + "1"

'Day 1'

In [78]:
22 + 22

44

In [79]:
"22" + "22"

'2222'

In [80]:
"22" + 22

TypeError: can only concatenate str (not "int") to str

In [ ]:
22 + "22"

In [ ]:
'22' + "22"

In [81]:
"Bishwa " + "Jyoti"

'Bishwa Jyoti'

In [82]:
a = 1 # int data type
b = 1.2 # float data type
c = "Sunny" # string data type
f = 1 + 2j # complex data type # rarely used

In [83]:
print("Hi welcome to class of python language")

Hi welcome to class of python language

In [84]:
print("Hi welcome to class of Java language")

Hi welcome to class of Java language

In [89]:
language = 8.0
print(f"Hi welcome to class of  {language} language") # allowed but rarely used

Hi welcome to class of  8.0 language

In [90]:
# f -> formatted string method
language = "JavaScript"
print(f"Hi welcome to class of {language} language") # current standard approach used in python

Hi welcome to class of JavaScript language

In [91]:
language = "JavaScript"
print("Hi welcome to class of {} language".format(language)) # old way

Hi welcome to class of JavaScript language

In [92]:
language = "JavaScript"
print("Hi welcome to class of {language} language")

Hi welcome to class of {language} language

In [93]:
# f -> formatted string method
num = "first"
language = "Python"
print(f"Today is the {num} class of {language} language") # current standard approach used in python

Today is the first class of Python language

In [94]:

num = "first"
language = "Python"
print("Today is the {} class of {} language".format(num, language))

Today is the first class of Python language

In [95]:
num = "first"
language = "Python"
print("Today is the "+num+" class of "+language+" language")

Today is the first class of Python language

In [96]:
a = 22
b = 34
c = a + b
print(f"the result sum of two nums a: {a} and b: {b} is ={c}")

the result sum of two nums a: 22 and b: 34 is =56

# Boolean
True False

In [97]:
one = True
two = False

print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [98]:
class_starts_at = 3
you_came_at = 2
you_understood_all_concepts = you_came_at < class_starts_at

print(f"You understood everything?: {you_understood_all_concepts}")

You understood everything?: True

In [99]:
class_starts_at = 3 # class start at 3 PM
you_came_at = 4 # you came to class at 4 PM
you_understood_all_concepts = you_came_at < class_starts_at

print(f"You understood everything?: {you_understood_all_concepts}")

You understood everything?: False

In [100]:
# = means assignment
# == means comparing equality
is_raining = False
umbralla_available = False
go_to_college = is_raining == umbralla_available # Cop
go_to_college

True

In [ ]:
numA = 5
numB = 6
numA == numB

In [ ]:
numA = 5
numB = 5
numA == numB

In [ ]:
numA = 5
numB = 5
numA > numB

In [101]:
numA = 5
numB = 5
numA >= numB

True

In [102]:
"Bishwa" + " Jyoti " + "Chaudhary"

'Bishwa Jyoti Chaudhary'

In [103]:
"My name is \"Bishwa\" Jyoti"

'My name is "Bishwa" Jyoti'

In [104]:
print("\"")

"

In [105]:
print(""" " """)

 "

In [106]:
print(""" / """)

 /

In [107]:
name = "Pallavi"
print(f"My name is: {name}")

My name is: Pallavi

In [108]:
name = 1000
print(f"My name is: {name}")

My name is: 1000

In [109]:
a=2
b = 3
c = 4
__result__ = a+b+c
print(f"sum = {__result__}")

sum = 9

In [110]:
z = 2+5j

In [111]:
z.real

2.0

In [ ]:
z.imag

#1. Assignment

In [112]:
# Practice: Conditional Statement

points = 0  # use this input to make your submission

if 40 <= points <= 50:
    result = "Congratulations! You won a wooden rabbit!"

elif 51 <= points <= 150:
    result = "Oh dear, no prize this time."

elif 151 <= points <= 180:
    result = "Congratulations! You won a wafer-thin mint!"

else:
    result = "Congratulations! You won a penguin!"

print(result)

Congratulations! You won a penguin!

In [ ]:

# Quiz: Guess My Number

answer = 10  # provide answer
guess = 5  # provide guess

if guess < answer:
    result = "Oops!  Your guess was too low."
elif guess > answer:
    result = "Oops!  Your guess was too high."
elif guess == answer:
    result = "Nice!  Your guess matched the answer!"

print(result)

In [ ]:
# Quiz: Tax Purchase


state = 'CA'  # Either CA, MN, or NY
purchase_amount = 5  # amount of purchase

if state == 'CA':
    tax_amount = 1
    total_cost = purchase_amount*(1+tax_amount*0.01)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'MN':
    tax_amount = 2
    total_cost = purchase_amount*(1+tax_amount*0.01)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'NY':
    tax_amount = 3
    total_cost = purchase_amount*(1+tax_amount*0.01)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

print(result)

In [ ]:
# Quiz: Boolean Expressions for Conditions


points = 174

# establish the default prize value to None
prize = None

# use the points value to assign prizes to the correct prize names
if points <= 50:
    prize = "wooden rabbit"
elif 151 <= points <= 180:
    prize = "wafer-thin mint"
elif 181 <= points <= 200:
    prize = "penguin"

# use the truth value of prize to assign result to the correct prize
if prize:
    result = "Congratulations! You won a {}!".format(prize)
else:
    result = "Oh dear, no prize this time."

print(result)